<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Vols</title>
</head>
<body>
    <h1>Liste des Vols</h1>
    <table border="1">
        <tr>
            <th>N° de vol</th>
            <th>Date de départ</th>
            <th>Date d'arrivée</th>
        </tr>
        {% for flight in flights %}
        <tr>
            <td>{{ flight.OperatingCarrier.AirlineID }} {{ flight.OperatingCarrier.FlightNumber }}</td>
            <td>{{ flight.Departure.Scheduled.Date }} {{ flight.Departure.Scheduled.Time }}</td>
            <td>{{ flight.Arrival.Scheduled.Date }} {{ flight.Arrival.Scheduled.Time }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/">Retour à l'accueil</a>
</body>
</html>
